---
layout: default
title: 关于
header-img: 'img/head-bg/other.png'
description: '「About」'
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <!-- USE SIDEBAR -->
    <!-- PostList Container -->
    <div
      class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 postlist-container"
    >
      {% capture about_zh %}{% include about/about.md %}{% endcapture %} {{
      about_zh | markdownify }}
    </div>
    <!-- Sidebar Container -->
    <div
      class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12 sidebar-container"
    >
      <!-- Featured Tags -->
      {% include featured-tags.html %}

      <!-- Short About -->
      {% include short-about.html %}
    </div>
  </div>
</div>
