---
layout: default
title: 关于
header-img: 'img/head-bg/other.png'
description: ''
---

<!-- Page Header -->
{% include intro-header.html type='page' %}

<div
  style="
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: JetBrains Mono;
    margin-top: 100px;
  "
  class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 post-container"
>
  Can Machines Think?
</div>

{% if site.giscus_username %}
<script
  src="https://giscus.app/client.js"
  data-repo="openwx/openwx.github.io"
  data-repo-id="R_kgDOH67Q1Q"
  data-category="Announcements"
  data-category-id="DIC_kwDOH67Q1c4CRMUL"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="1"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="zh-CN"
  crossorigin="anonymous"
  async
></script>
{% endif %}
