<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <!-- hack iOS CSS :active style -->
  <body ontouchstart="">
    {% include nav.html %} {% include search.html %} {{ content }} {% include
    footer.html %}

    <!-- Image to hack wechat -->
    <img src="/img/head-bg/icon_wechat.png" width="0" height="0" />
    <!-- Migrate from head to bottom, no longer block render and still work -->

    <!-- add support for mathjax by voleking-->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        TeX: {
          equationNumbers: {
            autoNumber: "AMS"
          }
        },
        SVG: {
          scale: 90
        },
        tex2jax: {
          inlineMath: [ ['$','$'] ],
          displayMath: [ ['$$','$$'] ],
          processEscapes: true,
        }
      });
    </script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
  </body>
</html>
